~*
result_pics/.DS_Store
*.pkl
*.nii
*.docx
*.pptx
*.csv
*.pdf
*.xlsx
*.zip
*.nii.gz
*.lnk
*.mat
*.xml
*.ai
*.txt
*.m
/result_pics/ttest_modules/*
/result_pics/ttest_modules/flipFalse_thr0.95_healthy_regr_n66_FINAL/*
/result_pics/ttest_modules/flipTrue_thr0.95_healthy_regr_n66_FINAL/*
/behavFiles/*
/cache/*
/old/super_old/*
/Shenyang_R/*
/fMRI_in/*
/.idea/*
/SchemRep_tasks/*
/old/mass_ttest/*
/old/mass_M/*
/result_pics/vendor_OLD/*
*.png
/behavFiles/
/llama/API_key.py
*.pyc
*.rar
*.zip
*.7z
*.tar
*.gz
*.bz2
*.whl
*.nbi
*.log
*.nbc
behavFiles/*
*.m
*.csv
*.mat
*.xlsx
*.xls
*.doc
*.docx
*.ppt
*.pptx
*.pdf
*.txt
*.rtf
*.tif
docs/*
*.lock
*.tex
*.parquet